<ion-header>
  <ion-toolbar color="light"> 
    <ion-menu-button color="dark" slot="start"></ion-menu-button>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: linear-gradient(to bottom right, #000000, #000000);"> 
  <div style="max-width: 800px; margin: auto; text-align: center; padding: 20px;">
    <img src="../assets/uberduc.jfif.png" alt="Logo" style="max-width: 150px; border-radius: 50%;">
    <h1 style="color: white; font-family: Arial, sans-serif;">Bienvenido a UberDWC</h1>
    <p style="color: #f0f0f0; font-size: 18px;">Con los mejores precios en viajes</p>

    <ion-button expand="block" color="warning" style="margin-top: 20px;" routerLink="/viaje" >Empieza tu viaje</ion-button>


    <!-- Usamos ion-grid para organizar las cartas -->
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card style="height: 100%;">
        <img alt="Danery" src="https://scontent.fscl13-2.fna.fbcdn.net/v/t1.6435-9/42205450_10212233349530819_5525008404445134848_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=fzAdX80IdwgQ7kNvgFs6WUC&_nc_zt=23&_nc_ht=scontent.fscl13-2.fna&_nc_gid=A5Z5-N591FLcKELm0ft5Zew&oh=00_AYC9IbbGGBGIszMJyfHn0Jd4KDYp1vA1t8Dhs7CQuxKV-w&oe=67744282" />
        <ion-card-header>
          <ion-card-title>UNA APLICACION PARA SACARNOS DE APUROS</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Me ha permitido ahorrar dinero, y el hecho de que los precios sean claros y sin sorpresas es algo que valoro mucho, ademas que nuestros proipios compañeros se pueden apiadar de nosotros. 
        </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6">
        <ion-card style="height: 100%;">
        <img alt="Rene"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl_rUHzvExcjxrQ26A80TvsyaWGEjqpdDdMA&s" />
        <ion-card-header>
          <ion-card-title>PERFECTA PARA RESOLVER IMPREVISTOS</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Ideal para esos momentos en los que necesitas una solución rápida, sin embargo, sería genial ver más características avanzadas en futuras actualizaciones.
        </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6">
        <ion-card style="height: 100%;">
        <img alt="Chill"  src="https://www.infobae.com/resizer/v2/YKBCDL3UOZAGFJNF3XHGDLPGHU.jpg?auth=eeed66941bbd69308dd5da69facb724f5cd2e72a0f395f0c21e904e57bb0a0f6&smart=true&width=1200&height=630&quality=85" />
        <ion-card-header>
          <ion-card-title>DETALLES POR AJUSTAR</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Las funcionalidades podrían ser más intuitivas y la navegación, aunque buena, podría ser más fluida en ciertas secciones. pero da igual porque soy un tio chill de cojones y nada me afecta
        </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6">
        <ion-card style="height: 100%;">
        <img alt="canguro" src="https://s3.amazonaws.com/prod-wp-tunota/wp-content/uploads/2024/11/foto-de-canguro-en-el-espejo-para-perfil-4k.jpg" />
        <ion-card-header>
          <ion-card-title>LO SIMPLIFICA TODO</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          La aplicación tiene una interfaz clara y fácil de usar. Me encanta cómo la información está bien organizada, y los detalles del contenido son precisos sin ser abrumadores
        </ion-card-content>
        </ion-card>
      </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="block" color="warning" style="margin-top: 20px;" routerLink="/viaje">Ver más viajes</ion-button>
  </div>
  
</ion-content>