<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tiempo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div id="TT_JyT11Ek1Ecaa8eGU7AzDDDDDjWlU1UB2LdEtEci5akD53I3oG">El tiempo - Tutiempo.net</div>
      <ion-toolbar></ion-toolbar>p>
    </ion-toolbar>
  </ion-header>
</ion-content>

<script type="text/javascript" src="https://www.tutiempo.net/s-widget/l_JyT11Ek1Ecaa8eGU7AzDDDDDjWlU1UB2LdEtEci5akD53I3oG"></script>